body {
    background-image: url("https://res.cloudinary.com/aremucamp/image/upload/v1607283841/pexels-lisa-fotios-1449638.jpg");
    background-repeat: no-repeat;
    background-size: auto;
   }

   .jumbotron{
      height: 250px;
   }